body {
    font-family: Arial, Helvetica, sans-serif;
}

.reservado {
    color: rgb(255, 238, 0);
}

.operador {
    color: rgb(129, 162, 252);
}

.literal {
    color: rgb(168, 91, 246);
}

.variable {
    color: rgb(255, 170, 0);
}

.char {
    color: rgb(0, 255, 251);
}

.string {
    color: rgb(7, 229, 114);
}

.comentario {
    color: rgb(255, 255, 255);
}

.error {
    color: rgb(255, 0, 0);
}