.reservado {
    color: rgb(255, 145, 0);
}

.operador {
    color: rgb(70, 70, 220);
}

.literal {
    color: rgb(26, 190, 34);
}

.variable {
    color: rgb(200, 0, 255);
}

.char {
    color: rgb(0, 208, 204);
}

.string {
    color: rgb(4, 111, 55);
}

.comentario {
    color: rgb(85, 85, 85);
}

.error {
    color: rgb(255, 0, 0);
}