body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.reservado {
    color: rgb(255, 238, 0);
}

.operador {
    color: rgb(129, 162, 252);
}

.literal {
    color: rgb(168, 91, 246);
}

.variable {
    color: rgb(218, 124, 124);
}

.char {
    color: rgb(0, 223, 219);
}

.string {
    color: rgb(7, 229, 114);
}

.comentario {
    color: rgb(173, 166, 166);
}

.error {
    color: rgb(255, 0, 0);
}